.center {
    text-align: center;
    font-weight: bold;
    color: #5f332a;
}

.headertext {
    margin: 0px auto;
    margin-bottom: 0.5em;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 1.5em;
}

.infotext {
    margin: 0;
    padding: 0;
    text-align: justify;
    font-size: 0.95em;
}

.explainspan {
    font-weight: 500;
    color: #5f332a;
}

.available {
    font-weight: 500;
    color: #49532a;
}

.locked {
    font-weight: 500;
    color: #c62641;
}

.card {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    border-width: thin;
    display: block;
    max-width: 100%;
    outline: none;
    text-decoration: none;
    transition-property: box-shadow,opacity;
    overflow-wrap: break-word;
    position: relative;
    white-space: normal;
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin: 0.2em;
    width: 215px;
}
